*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}


body {
  background: coral;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

li {
  list-style:none;
}

.container {
  max-width: 800px;
  height: 300px;
  margin: 30px auto;
  background-color: whitesmoke;
  padding:20px;
  border: 1px solid #333;
  border-radius:20px;
}

.container .title {
  text-align:center;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  background:whitesmoke;
  width:100%;
  padding: 20px;
}

.navBar li {
  display:inline-block;
}

.navBar li a {
  text-decoration:none;
  padding: 20px 20px;
  color:#fff;
  background:#333;
  margin-right: 0 10px;
  border: 3px solid;
  cursor: pointer;
}

.navBar li a:hover {
  color:coral;
}

.navBar .cta-btn{
  background:coral;
  color:#333;
}

.navBar .cta-btn:hover {
  color:coral;
  background:#333;
}